#nav_menu_wrapper {
    background-color: #0072BC !important;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer {
    height: 98px;
    border-top: 2px solid #C0C0C0;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #FFFFFF;
}

#content_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
}

#content_wrapper>div{
    padding-top: 20px;
    padding-bottom: 20px;
    flex-grow: 0.3;
    flex-shrink: 0;
    min-width: 400px;
    max-width: 1000px;
    flex-basis: auto;
}

#content_wrapper::after,
#content_wrapper::before {
    flex-grow: 1;
    flex-shrink: 0;
    content: '';
    flex-basis: 60px;
}

#content_wrapper header {
    min-width: 400px;
    flex-basis: auto;
}

#header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

#logo {
    flex-basis: 100px;
    max-width: 200px;
    flex-grow: 0.1;
    flex-shrink: 1;
}

#logo:after {
    flex-basis: 500px;
    flex-grow: 0.9;
    flex-shrink: 2;
}

#title {
    flex-basis: 100px;
    flex-grow: 0;
    color: #00AEEF;
    flex-shrink: 0;

}
