#nab_menu_wrapper {
    background-color: #0072BC !important;
}

#footer {
    height: 98px;
    border-top: 2px solid #C0C0C0;
}

#content_wrapper {
    padding: 20px 64px 120px 64px;
}

#content_wrapper header {
    min-width: 400px;
    flex-basis: auto;
}

#header_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

#logo {
    flex-basis: 100px;
    max-width: 200px;
    flex-grow: 0.1;
    flex-shrink: 1;
}

#logo:after {
    flex-basis: 500px;
    flex-grow: 0.9;
    flex-shrink: 2;
}

#title {
    flex-basis: 100px;
    flex-grow: 0;
    color: #00AEEF;
    flex-shrink: 0;

}
